<center><%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Full_Summary %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :Positive %><br>
    <%= f.check_box :positive %>
  </div>
  <div class="field">
    <%= f.label :Profit %><br>
    <%= f.check_box :profit %>
  </div>
  <div class="field">
    <%= f.label :Your_networth %><br>
    <%= f.number_field :networth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %></center>
